.groupbtn-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
  width: 892px;

  .groupbtn-title {
    margin-bottom: 0;

    font-family: "Gibson Regular";
    font-size: 20px;
    font-weight: 500;
  }
}
